<!DOCTYPE html>
<html>
<head>
    <title>Update Dish</title>
</head>
<body>
    <h1>Update Dish</h1>
    <form method="post" action="{{ url_for('update_dish', dish_id=dish._id) }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ dish.name }}" required><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="{{ dish.price }}" required><br><br>
        <input type="submit" value="Update Dish">
    </form>
</body>
</html>
